import React from 'react';

import strings from '@localization/home.locale';
import './{{pascalCase name}}.style.scss';


const {{pascalCase name}} = () => {
  return (
    <div className='{{camelCase name}}'>
      <h1>{strings.Title}</h1>
    </div>
  );
};

export default {{pascalCase name}};
