{
  "root": true,
  "ignorePatterns": ["build", "node_modules", "jsconfig.json"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "plugins": ["@babel", "react", "prettier", "react-hooks", "jsx-a11y"],
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended", "plugin:react/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },
  "rules": {
    "react/state-in-constructor": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, 180, 2, { "ignoreComments": true }],
    "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }],
    "import/no-unresolved": 0,
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["off", { "devDependencies": false }],
    "react/prop-types": [1, { "ignore": ["config"] }],
    "react/require-default-props": [1, { "ignoreFunctionalComponents": true }],
    "react-hooks/rules-of-hooks": "error",
    "no-nested-ternary": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "linebreak-style": 0
  }
}
