{
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "semi": true,
  "printWidth": 180,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto"
}
