// Phones
$screen-xxs: 320px;

// Phones
$screen-xs: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// large tablets
$screen-lg: 992px;

// small desktop/laptop
$screen-xl: 1200px;

// hi-res laptop
$screen-xxl: 1600px;

// full hd-monitors
$screen-hd: 1900px;
