/* Font-sizes */
$font-sm1: 0.75rem !default; // 12px
$font-sm2: 0.875rem !default; //14 px
$font-sm3: 1rem !default; // 16px
$font-md1: 1.125rem !default; // 18px
$font-md2: 1.25rem !default; // 20px
$font-md3: 1.375rem !default; // 22px
$font-md4: 1.5rem !default; // 24px
$font-lg1: 1.625rem !default; // 26px
$font-lg2: 1.875rem !default; // 30px
$font-lg3: 2rem !default; // 32px
$font-xl1: 2.5rem !default; // 40px
$font-xl2: 2.813rem !default; // 45px

/* Font-Families */

$font-regular: GilroyRegular, sans-serif !default;
$font-medium: GilroyMedium, sans-serif !default;
$font-semibold: GilroySemiBold, sans-serif !default;
$font-bold: GilroyBold, sans-serif !default;
$font-extrabold: GilroyExtraBold, sans-serif !default;

/* Colors */

$white: #fff !default;
$blue: #3d84b8 !default;

// :export {
//   fontLg1: $font-lg1;
//   fontLg2: $font-lg2;
//   fontLg3: $font-lg3;
//   fontMd1: $font-md1;
//   fontMd2: $font-md2;
//   fontMd3: $font-md3;
//   fontMd4: $font-md4;
//   fontSm1: $font-sm1;
//   fontSm2: $font-sm2;
//   fontSm3: $font-sm4;
//   fontXl1: $font-xl1;
//   fontXl2: $font-xl2;
//   fontMedium: $font-medium;
//   fontRegular: $font-regular;
//   fontSemibold: $font-semibold;
//   fontBold: $font-bold;
//   fontExtrabold: $font-extrabold;
//   white: $white;
//   blue: $blue;
// }
