/* Font-sizes */
$sm1-font-size: 0.75rem !default; // 12px
$sm2-font-size: 0.875rem !default; //14 px
$sm3-font-size: 1rem !default; // 16px
$md1-font-size: 1.125rem !default; // 18px
$md2-font-size: 1.25rem !default; // 20px
$md3-font-size: 1.375rem !default; // 22px
$md4-font-size: 1.5rem !default; // 24px
$lg1-font-size: 1.875rem !default; // 30px
$lg2-font-size: 2rem !default; // 32px
$xl1-font-size: 2.5rem !default; // 40px
$xl2-font-size: 2.813rem !default; // 45px
$xxl-font-size: 3.75rem !default; // 60px

/* Colors */

$white: #fff !default;
$blue: #3d84b8 !default;
